<html>
  <head>
    <script src="/mqtt.js"></script>
  </head>
  <body>
    <script>
      var client = mqtt.connect("mqtt://192.168.2.254");
      client.subscribe("firstTry");

      client.on("message", function(topic, payload) {
        context = payload.toString();
        console.log(context);
      });
    </script>
  </body>
</html>